<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
     <header>
        <div class="container nav">
        <h1><a href="/">📚 Библиотека</a></h1>
        <nav>
            <a href="/books">Книги</a>
            <a href="/add-book">Добави книга</a>
        </nav>
        </div>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-about">
                <h3>📚 Библиотека</h3>
            </div>

            <div class="footer-links">
                <h4>Бързи връзки</h4>
                <ul>
                    <li><a href="/books">Книги</a></li>
                    <li><a href="/add-book">Добави книга</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; {{year}} Библиотека. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>